.easy-to-implement {
  display: flex;
  align-items: center;
  padding-top: 10rem;

  h3 {
    color: $san-juan-blue;
  }

  p {
    padding: 2.73rem 0;
    font-size: 1rem;
    line-height: 1.87rem;
    color: $light-san-juan-blue;
  }
}