header {
  display: flex;
  padding: 3.13rem 11rem 0;


  nav{
    width: 100%;
    display: flex;
    padding-left: 3rem;
  }
  

  ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2.67rem;
    width: 100%;

    .demo-button{
      margin-left:  auto;
    }

    a {
      @include reset-anchor;
      
    }
  }
}