@mixin reset-anchor {
  text-decoration: none;
  font-weight: 700;
  font-size: 1rem;
  color: $light-san-juan-blue;

  &:hover {
    color: $san-juan-blue;
    cursor: pointer;
  }
}


@mixin demo-button {
  border: none;
  color: $link-water-white;
  background-color: $dark-pink;
  border-radius: 2rem;
  padding: 1rem 2rem;
  font-weight: 700;
  font-size: 1rem;

  &:hover {
    color: $link-water-white;
    background-color: $charm-pink;
    cursor: pointer;
  }
}


@mixin schedule-form-style {
  input {
    border-radius: 2rem;
    padding: 1rem 2rem;
    border: none;
    width: 29.67rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
  }

  button {
    @include demo-button;
    margin-left: -12rem;

    & + div {
      padding-top: 1rem;
      padding-left: 1rem;
      color: $light-san-juan-blue;

      a {
        @include reset-anchor;
      }
    }
  }
}
